h2{
    color: green;
    text-align: center;
}

#metas{
    margin: 0 auto;
    width: 40%;
}
.navbar {
    background: transparent;
}




#centro {
  /* margin:0 auto;*/
    float: right;
}













