
body{
    background-image: url("../imagens/inicial.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment:scroll;
    width:100%;
    height:1200px;
}
#navbar{
    position: fixed;
}







